/* Responsive styles
================================================== */
@media (min-width: 992px) {
  .header {
    min-height: 70px;
  }
  .main-nav ul.navbar-nav > li > a {
    padding: 0 15px;
    line-height: 70px;
    display: inline-block;
  }

  .main-nav ul.navbar-nav > li > a::before {
    position: absolute;
    right: 0;
    content: "";
    width: 1px;
    height: 20px;
    background: rgb(0 0 0 / 20%);
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main-nav ul.navbar-nav > li:last-child > a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 1px;
    height: 20px;
    background: rgb(0 0 0 / 20%);
    top: 0;
    bottom: 0;
    margin: auto;
  }
  /* .main-nav ul.navbar-nav > li > a::after {
    position: absolute;
    content: "";
    width: 100%;
    border-right: 1px solid rgb(0 0 0 / 20%);
    border-left: 1px solid rgb(0 0 0 / 20%);
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
  } */
  .main-nav ul.navbar-nav > li > a:hover::after {
    opacity: 1;
  }
  blockquote {
    padding: 45px 120px 30px;
  }
}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  /* Header */
  .navbar-nav li:hover .dropdown-menu {
    display: block;
  }
  .navbar-collapse {
    padding-right: 0;
  }
  .nav-style-boxed .navbar-collapse {
    padding-left: 15px;
  }
  .header.header-menu .mega-menu-content {
    min-width: 1095px;
    margin-left: -27px;
  }
  .main-nav ul.navbar-nav > li > a {
    padding: 0 22px;
  }
  .sidebar {
    margin-left: 40px;
  }
  .sidebar.sidebar-left {
    margin-left: 0;
    margin-right: 40px;
  }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-nav li:hover .dropdown-menu {
    display: block;
  }
  ul.navbar-nav > li {
    padding: 0 6px;
  }
  ul.navbar-nav > li a {
    font-size: 12px;
  }
  .dropdown-menu li a {
    font-size: 12px;
  }
  .header .header-menu .mega-menu-content {
    min-width: 1095px;
    margin-left: -11px;
  }
  /* Projects */
  .project-item-title {
    font-size: 18px;
  }
  /* Clients */
  .clients-logo {
    margin-bottom: 20px;
  }
  /* Subscribe */
  .newsletter-form input {
    min-width: 340px;
  }
  /* Action box */
  .action-box-text {
    font-size: 13px;
  }
  /* Footer */
  .footer-social ul li {
    margin: 0 3px 0 0;
  }
  .footer-menu {
    float: none;
  }
  #back-to-top {
    right: 15px;
  }
  #back-to-top.affix {
    bottom: 35px;
  }
  .mega-menu-content {
    max-width: 940px;
  }
}

@media (min-width: 575px) {
  .main-nav {
    padding: 0;
  }
  .nav-social-wrap {
    padding: 0 15px;
  }
  .navbar-toggler {
    right: 15px;
  }
  .navbar {
    width: 98%;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  /* top info */
  ul.top-info li {
    padding-right: 12px;
  }
  /* Header */
  .navbar-fixed {
    position: relative;
    -webkit-animation: none;
    animation: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .logo {
    padding: 13px 0;
  }
  .logo img {
    width: 100%;
  }
  /* Navigation breakpoint */
  .navbar-toggle {
    display: block;
    z-index: 1;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse.show {
    display: block;
  }
  .navbar-collapse ul.navbar-nav {
    float: none !important;
    margin-top: 0px;
    width: 100%;
  }
  ul.navbar-nav > li {
    float: none;
    display: block;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-collapse.in {
    overflow-y: auto;
  }
  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: none;
  }
  ul.nav li.dropdown.open ul.dropdown-menu {
    display: block;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* Navigation */
  .navbar-collapse {
    background: none;
    width: 100%;
  }
  ul.navbar-nav > li:hover > a:after,
  ul.navbar-nav > li.active > a:after {
    content: "";
  }
  ul.navbar-nav > li > a:before {
    border-bottom: 0;
  }
  ul.navbar-nav > li,
  .nav-style-boxed ul.navbar-nav > li {
    display: block;
  }
  .navbar-nav .open .dropdown-menu > li {
    padding-left: 0;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 30px;
    padding: 5px 15px 10px 10px;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 10px 10px;
  }
  ul.navbar-nav {
    padding: 0 0 10px;
  }
  ul.navbar-nav li {
    float: none;
  }
  ul.navbar-nav li a {
    line-height: normal !important;
    color: #414998;
    font-size: 14px;
    border-top: 1px solid #e9e9e9 !important;
    border-bottom: 0;
    padding: 10px 20px;
    display: block;
    min-width: 350px;
  }
  ul.navbar-nav li:first-child a {
    border-top: none !important;
  }
  ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu a i {
    margin-top: -22px;
  }
  ul.navbar-nav
    li.dropdown
    ul.dropdown-menu
    li.dropdown-submenu
    .dropdown-menu {
    left: 0;
    position: relative;
  }
  ul.navbar-nav
    li.dropdown
    ul.dropdown-menu
    li.dropdown-submenu
    .dropdown-menu
    a {
    padding-left: 50px;
  }
  ul.navbar-nav
    li.dropdown
    ul.dropdown-menu
    li.dropdown-submenu
    .dropdown-menu
    li
    a {
    padding-left: 35px !important;
  }
  ul.navbar-nav .dropdown-menu {
    float: none;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    background: none;
  }
  ul.navbar-nav .dropdown-menu li a {
    padding-left: 20px !important;
  }
  ul.navbar-nav > li.nav-search,
  ul.navbar-nav > li.header-get-a-quote {
    display: none;
  }
  ul.navbar-nav li a i,
  .dropdown-submenu > a:after {
    float: left;
    width: 36px;
    height: 28px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    margin-top: -5px;
    text-align: center;
    color: #414998;
  }

  .form-control {
    font-size: 15px !important;
  }
  .form-control::placeholder {
    font-size: 15px !important;
  }
  .dropdown-submenu > a:after {
    margin-right: 0;
  }
  .navbar-nav > li > .dropdown-menu.mega-menu-content {
    display: none !important;
  }
  /* Featured area */
  .featured-post-area .pad-r {
    padding-right: 15px;
  }
  .featured-post-area .pad-l {
    padding-left: 15px;
  }
  /* Sidebar */
  .sidebar-right {
    margin-top: 50px;
  }
  .sidebar-right .widget {
    margin-left: 0;
  }
  .block.color-aqua,
  .block.color-violet {
    margin-top: 40px;
  }
  /* Footer */
  .footer-widget {
    display: inline-block;
    margin-bottom: 30px;
  }
  .newsletter-form input {
    width: 90%;
  }
  .footer-info-content {
    padding: 50px 100px 0;
  }
  #back-to-top.affix {
    bottom: 78px;
  }
}

/* Small Devices Potrait */
@media (max-width: 767px) {
  .boxed-layout .body-inner {
    margin: 0 auto;
  }
  .trending-bar {
    padding: 20px 0;
  }
  .trending-bar .trending-title {
    float: none;
    border: none;
    text-align: center;
  }
  .trending-bar .post-title.title-small {
    padding: 10px 0;
    margin-right: 0;
  }
  /* Top bar */
  .ts-date {
    padding: 0;
    border-right: 0;
    display: block;
  }
  .top-nav {
    display: block;
    margin: 10px 0;
  }
  .top-bar {
    text-align: center;
  }
  .top-social ul li a {
    padding: 0 10px;
  }
  /* Header */
  .navbar-fixed {
    position: relative;
    -webkit-animation: none;
    animation: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .logo {
    padding: 13px 0 25px;
    text-align: center;
  }
  /* Navigation breakpoint */
  .navbar-toggle {
    display: block;
    z-index: 1;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse.show {
    display: block;
  }
  .navbar-collapse.collapse:after {
    display: block;
    content: "";
    clear: both;
  }
  .navbar-collapse,
  .site-nav-inner {
    background: none;
    width: 100%;
  }
  ul.navbar-nav > li:hover > a:after,
  ul.navbar-nav > li.active > a:after {
    content: "";
  }
  ul.navbar-nav > li > a:before {
    border-bottom: 0;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 10px 10px;
  }
  ul.navbar-nav > li {
    display: block;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 30px;
  }
  ul.navbar-nav > li.nav-search,
  ul.navbar-nav > li.header-get-a-quote {
    display: none;
  }
  ul.navbar-nav {
    width: 100%;
    padding: 0 0 10px;
  }
  ul.navbar-nav > li {
    float: none;
  }
  ul.navbar-nav li a {
    line-height: normal !important;
    color: #414998;
    border-top: 1px solid #f1f1f1 !important;
    border-bottom: 0;
    font-size: 13px;
    padding: 10px 20px;
    display: block;
    background: transparent;
  }

  .form-control {
    font-size: 13px !important;
  }
  .form-control::placeholder {
    font-size: 13px !important;
  }
  ul.navbar-nav .dropdown-menu > li > a {
    padding-left: 15px;
  }
  ul.navbar-nav .dropdown-menu {
    float: none;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
  }
  ul.navbar-nav
    li.dropdown
    ul.dropdown-menu
    li.dropdown-submenu
    .dropdown-menu {
    left: 0;
    position: relative;
  }
  ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu a i {
    margin-top: -22px;
  }
  ul.navbar-nav
    li.dropdown
    ul.dropdown-menu
    li.dropdown-submenu
    .dropdown-menu
    li
    a {
    padding-left: 20px;
  }
  ul.navbar-nav .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    background: none;
    padding-right: 15px;
  }
  ul.navbar-nav li a i,
  .dropdown-submenu > a:after {
    /* color: #333; */
    float: left;
    line-height: 28px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
  }
  .dropdown-submenu > a:after {
    margin-right: 0;
  }
  .navbar-nav > li > .dropdown-menu.mega-menu-content {
    display: none !important;
  }
  /* Dart bg */
  .main-nav.dark-bg {
    margin-bottom: 20px;
  }
  .main-nav.dark-bg > .container > .row {
    padding: 0 20px;
  }
  .main-nav.dark-bg ul.navbar-nav > li.active,
  .main-nav.dark-bg ul.navbar-nav > li:hover {
    background: none;
  }
  .main-nav.dark-bg ul.navbar-nav li a {
    color: #fff;
  }
  .header-top-social {
    margin-bottom: 20px;
  }
  /* Search */
  .search-block {
    width: 220px;
  }
  .header.header-menu {
    position: relative;
    margin-bottom: 20px;
  }
  .search-area {
    position: absolute;
    right: 0;
    top: 50px;
  }
  /* Featured area */
  .featured-post-area .pad-r,
  .pad-r-small {
    padding-right: 15px;
    padding-right: 15px;
  }
  .featured-post-area .pad-l,
  .pad-l-small {
    padding-left: 15px;
  }
  .post-title {
    font-size: 15px;
    line-height: 26px;
    margin: 6px 0;
  }
  .post-title.title-md {
    font-size: 16px;
  }
  /* Block */
  .block.color-orange .post-overaly-style.last {
    margin-top: 40px;
  }
  /* Sidebar */
  .sidebar-right {
    margin-top: 50px;
  }
  .sidebar-right .widget {
    margin-left: 0;
  }
  .block.color-aqua,
  .block.color-violet {
    margin-top: 40px;
  }
  .social-icon li a i {
    margin-bottom: 10px;
  }
  .post-block-style.post-float-half .post-thumb img {
    max-width: 100%;
    min-height: 100%;
    margin-bottom: 20px;
  }
  /* Footer */
  .footer-widget {
    display: inline-block;
    margin-bottom: 30px;
  }
  .newsletter-form input {
    width: 90%;
  }
  .footer-info-content {
    padding: 50px 20px 0;
  }
  .footer-social li a i {
    margin-bottom: 10px;
  }
  #back-to-top.affix {
    bottom: 78px;
  }
  .featured-tab .nav-tabs {
    margin: 20px 0;
    position: static;
  }
  .footer-menu .nav {
    display: inline-block;
  }
  #back-to-top {
    bottom: 0;
    right: 20px;
  }
  /* Block title */
  .block-title > span {
    padding: 9px 10px;
  }
  .featured-tab .nav-tabs > li > a {
    font-size: 12px;
  }
  /* Category style */
  .category-style2 .post-thumb {
    margin-bottom: 20px;
  }
  .ts-author-comments::after {
    display: none;
  }
  .single-post .post-navigation {
    padding: 30px 0;
  }
  .single-post .post-navigation .post-next,
  .single-post .post-navigation .post-previous {
    width: 100%;
    border: none;
    margin: 10px 0;
  }
  .SearchForItem {
    padding: 10px 0;
  }
  .SearchForItem .form-control {
    margin: 6px 0;
  }

  .SearchForItem .form-control:last-child {
    margin-bottom: 12px;
  }
  .ModalCity {
    border-radius: 3px;
  }
  .sidebar-widget .ads-image img {
    border-radius: 3px;
  }
  .SendMessageToIndex {
    border-radius: 3px;
  }
  .SendMessageToIndex .input-group-text {
    border-radius: 0 3px 3px 0 !important;
  }
  .SendMessageToIndex .input-group input {
    border-radius: 3px 0px 0px 3px !important;
  }
  .btn {
    border-radius: 3px !important;
  }
  .SendMessageToIndex .input-group textarea {
    border-radius: 3px !important;
  }
  .BlogItem {
    height: 283px !important;
  }
  .BlogMedias .ShortDescBl h3 a {
    font-size: 15px;
    padding: 2px 0;
  }

  .BlogMedias .ShortDescBl {
    line-height: 20px;
  }
  .widget-content p {
    margin-bottom: 10px;
  }
}

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media (max-width: 991px) {
  .featured-slider .item .featured-post .post-content {
    padding: 20px;
  }
  .post-video .post-video-content {
    padding: 0 20px 10px;
  }
  .post-video .post-video-content h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .post-title {
    font-size: 11px;
    line-height: 26px;
  }
  .StartsInItem {
    font-size: 10px;
  }
  ul.navbar-nav li a {
    font-size: 12px;
  }

  .form-control {
    font-size: 14px !important;
  }
  .form-control::placeholder {
    font-size: 14px !important;
  }
  .post-title.title-md {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .post-title {
    font-size: 9px;
    line-height: 26px;
  }
  /* .form-control {
    font-size: 11px !important;
  }
  .form-control::placeholder {
    font-size: 11px !important;
  } */
  ul.navbar-nav li a {
    font-size: 9px;
  }

  .post-title.title-md {
    font-size: 12px;
  }
  .StartsInItem {
    font-size: 8px;
  }
}

@media only screen and (max-width: 991px) {
  .ts-gutter-30 > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .post-overaly-style {
    border-radius: 3px;
  }
  .post-header-area {
    padding: 5px;
    border-radius: 3px;
  }
  .post-header-area .upper h4 {
    font-size: 13px;
    font-weight: 600;
  }

  .post-header-area .upper span {
    font-size: 12px;
    font-weight: 500;
  }

  .post-header-area .upper i {
    font-size: 11px;
    font-weight: 500;
  }

  .post-header-area ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }

  .post-header-area ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .post-header-area ul li div:first-child {
    width: 76%;
    text-align: center;
  }

  .post-header-area ul li div:last-child {
    width: 20%;
  }

  .post-header-area ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.055);
    min-height: 57px;
    border-radius: 3px;
    padding: 0 10px;
  }

  .post-header-area ul li i {
    font-size: 30px;
    color: #414998;
  }

  .post-header-area ul li:first-child div:first-child h5 {
    font-size: 16px;
    font-weight: 500;
    color: #333333e8;
    font-family: "iranyekan", "BYekanPlus";
    margin: 0;
  }

  .post-header-area ul li:nth-child(2) div:first-child {
    background-color: #414998;
  }
  .post-header-area ul li:nth-child(2) div:first-child h5 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: "iranyekan", "BYekanPlus";
    margin: 0;
  }

  .post-header-area ul li:last-child div:first-child h6 {
    font-size: 15px;
    font-weight: 800;
    color: #414998;
    font-family: "iranyekan", "BYekanPlus";
    margin: 0;
  }

  .map .map-route div i {
    font-size: 15px;
    color: #414998;
    font-weight: 600;
    padding: 0 9px;
  }

  .map .map-route div:first-child {
    width: 58%;
    text-align: right;
    justify-content: flex-start;
  }

  .map .map-route div:nth-child(2) {
    width: 20%;
  }
  .map .map-route div:last-child {
    width: 20%;
  }

  .map .map-route div h5 {
    font-size: 12px;
    margin: 0;
    color: #414998;
    font-weight: 600;
    font-family: "BYekanPlus";
  }
  .map iframe {
    border-radius: 3px;
  }
  .ContactChildData {
    bottom: 44px;
  }
  .CLoseMeCCD {
    top: 36%;
  }

  .BlogItemDown h3 {
    font-size: 11px;
    padding-bottom: 13px;
  }
  .BlogItemDown h5 {
    font-size: 8px;
  }
  .BlogItemDown h6 {
    font-size: 8px;
  }

  .SideBarBlog {
    border-radius: 6px;
    height: 120px;
  }
  .SideBarBlogLeft h3 {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 4px;
  }
  .SideBarBlogLeft div {
    padding-right: 4px;
  }
  .SideBarBlogLeft h5 {
    font-size: 9px;
  }
  .SideBarBlogLeft h6 {
    font-size: 9px;
  }

  .BlogDetail h1 {
    font-size: 20px;
    margin: 0;
    color: #353e91c9;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    text-align: center;
  }
  .BlogDetail h3 {
    font-size: 17px;
    margin: 0;
    color: #444bb7;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
  }
  .BlogDetail p {
    font-size: 13px;
    margin: 0;
    color: #1a1a1a;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    margin: 15px 0;
  }

  .customEror h1 {
    font-family: cursive;
    font-size: 140px;
    color: #414998e0;
  }

  .customEror h2 {
    color: #5d5d5de0;
    font-family: "BYekanPlus";
    font-size: 23px;
    margin-bottom: -30px;
  }

  /* .ShowNavigationMobile {
    display: block;
  }

  .top-up-btn {
    display: none;
  }

  .main-nav {
    display: none;
  } */

  .SubmitOfferPageRightSideItems {
    width: 60%;
  }

  #main-navMObile {
    opacity: 1;
    display: block;
    transform: translateY(-100%);
    transition: all 0.7s;
  }
  .SubmitOfferPage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SubmitOfferPageLeftSide {
    display: none;
  }
  .SubmitOfferPageRightSideItems {
    min-width: 290px;
  }
}
@media only screen and (max-width: 767px) {
  .post-overaly-style.post-lg {
    min-height: 220px;
  }
  .map iframe {
    margin-bottom: 4px;
  }
  .mobileReverseColumn {
    flex-direction: column-reverse;
  }
  .mobileReverseColumnForBlogSingle {
    flex-direction: column;
  }
  .customptMB {
    margin-top: 20px;
  }
  .HeaderData {
    position: relative;
    height: 170px;
  }
  .post-header-area {
    min-height: 305px;
  }
  .HDTopLeft {
    position: absolute;
    right: 5px;
    top: 20px;
    width: 49% !important;
  }
  .HDTopRight {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 49% !important;
  }
  .HDBottomLeft {
    position: absolute;
    left: 5px;
    bottom: -17px;
    width: 49% !important;
  }
  .post-header-area ul li div:last-child {
    width: 60px;
  }
  .HDRightInsta {
    position: absolute;
    right: 3%;
    bottom: -17px;
  }
  .HDRightWhats {
    position: absolute;
    right: 21%;
    bottom: -17px;
  }
  .HDRightTel {
    position: absolute;
    right: 38%;
    bottom: -17px;
  }
  .mobileReverseColumn {
    flex-direction: column-reverse;
  }
  .HeaderData {
    position: relative;
    height: 100px;
  }
  .post-header-area {
    min-height: 225px;
  }
  .HDTopLeft {
    position: absolute;
    right: 0;
    top: 6px;
    width: 50% !important;
  }
  .HDTopRight {
    position: absolute;
    left: 0;
    top: 6px;
    width: 46% !important;
  }
  .HDBottomLeft {
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 46% !important;
  }
  .post-header-area ul li div:last-child {
    width: 50px;
  }
  .HDRightInsta {
    position: absolute;
    right: 3%;
    bottom: -17px;
  }
  .HDRightWhats {
    position: absolute;
    right: 21%;
    bottom: -17px;
  }
  .HDRightTel {
    position: absolute;
    right: 38%;
    bottom: -17px;
  }
  .post-header-area ul li:last-child div:first-child h6 {
    font-size: 10px;
  }

  .HDBottomLeft h6 {
    font-size: 10px;
  }
  .map .map-route div {
    height: 40px;
  }
  .map .map-route div:first-child {
    width: 78%;
    text-align: right;
    justify-content: flex-start;
  }

  .map .map-route div:nth-child(2) {
    width: 10%;
  }
  .map .map-route div:last-child {
    width: 10%;
  }
  .map .map-route div i {
    font-size: 12px;
  }
  .map .map-route div h5 {
    font-size: 11px;
  }
  .map .map-route div:nth-child(2) h5 {
    display: none;
  }
  .map .map-route div:nth-child(3) h5 {
    display: none;
  }
  .post-header-area ul li div {
    min-height: 40px;
  }
  .post-content-area h5 {
    font-size: 15px;
  }
  .post-content-area p {
    font-size: 12px;
  }
  .post-other-images img {
    height: 220px;
    border-radius: 4px;
  }
  .post-faqs h3 {
    font-size: 22px;
  }
  .post-faqs li:nth-child(odd) {
    font-size: 15px;
  }
  .post-faqs li:nth-child(even) {
    font-size: 13px;
  }
  .post-comments-new h5 {
    font-size: 18px;
  }
  .post-comments-new .showCm .Dta .Text {
    font-size: 10px;
    padding: 5px;
  }
  .post-comments-new {
    flex-direction: column-reverse;
    background-color: #fafafa;
    box-shadow: none;
    padding: 0;
  }
  .post-comments-new .sendCm {
    width: 100%;
    background-color: #f6f7ff;
    box-shadow: 0 2px 7px #00000017;
    border-radius: 7px;
    padding: 10px;
  }
  .post-comments-new .showCm {
    width: 100%;
    background-color: #f6f7ff;
    box-shadow: 0 2px 7px #00000017;
    border-radius: 7px;
    margin-bottom: 40px;
    padding: 10px;
    padding-bottom: 30px;
  }
  .showMoreCM {
    bottom: 8px;
  }
  .ContactChildData {
    width: 48%;
    right: 51%;
    bottom: -31px;
  }
  .CCDs {
    min-height: 40px;
    font-size: 17px;
    border-radius: 3px;
    padding-top: 10px;
  }
  .CLoseMeCCD {
    top: 16%;
    left: 49%;
    font-size: 20px !important;
  }

  .CategoryCarousel .owl-nav .owl-prev {
    opacity: 1;
    right: -20px;
    display: none;
  }

  .CategoryCarousel .owl-nav .owl-next {
    opacity: 1;
    left: -20px;
    display: none;
  }

  .mainPageAddCarousel .owl-nav .owl-prev {
    opacity: 1;
    right: -20px;
    display: none;
  }

  .mainPageAddCarousel .owl-nav .owl-next {
    opacity: 1;
    left: -20px;
    display: none;
  }

  .CategorySliderMedia img {
    border-radius: 3px;
  }

  .CategorySliderMedia .CSDowner {
    border-radius: 0 0 3px 3px;
  }
  .mainPageAddData img {
    border-radius: 3px;
    height: 130px;
  }

  .BlogItemDown h3 {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .BlogItemDown h5 {
    font-size: 9px;
  }
  .BlogItemDown h6 {
    font-size: 9px;
  }
  .SideBarBlog {
    border-radius: 6px;
    height: 100px;
  }
  .SideBarBlogLeft h3 {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 4px;
  }
  .SideBarBlogLeft div {
    padding-right: 4px;
  }
  .SideBarBlogLeft h5 {
    font-size: 11px;
  }
  .SideBarBlogLeft h6 {
    font-size: 11px;
  }
  .BlogMedias .imageRight > a > img {
    height: 220px;
  }

  .BlogDetail h1 {
    font-size: 24px;
    margin: 0;
    color: #353e91c9;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    text-align: center;
  }
  .BlogDetail h3 {
    font-size: 19px;
    margin: 0;
    color: #444bb7;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
  }
  .BlogDetail p {
    font-size: 15px;
    margin: 0;
    color: #1a1a1a;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    margin: 15px 0;
  }

  .BlogDetail img {
    border-radius: 3px;
  }
  .BlogDetail {
    background: #fff;
    border-radius: 3px;
  }
  .footer-ads img {
    height: 300px;
    top: 4px;
    left: -20%;
    margin: 0;
    padding: 0;
  }
  .customEror {
    width: 55vw;
  }

  .customEror h1 {
    font-family: cursive;
    font-size: 120px;
    color: #414998e0;
  }

  .customEror h2 {
    color: #5d5d5de0;
    font-family: "BYekanPlus";
    font-size: 15px;
    margin-bottom: -30px;
  }
  .LeftSidePartsBlog {
    height: 40%;
    width: 88%;
  }
  .LeftSideAreaBlog {
    grid-gap: 0px;
    height: 350px;
    position: relative;
    left: -15px;
    margin-top: 20px;
  }
  .custom-select {
    position: relative;
    margin-right: 17px !important;
    width: calc(100% - 33px);
  }

  .SubmitOfferPageRightSideForms .custom-select {
    margin-right: 3px !important;
    width: calc(100% - 3px) !important;
  }
  .SearchForItem .btn {
    font-size: 15px;
  }

  .SubTextBlog {
    bottom: -14px;
    height: 30%;
    z-index: 1;
  }

  .SubTextBlog2 {
    bottom: -14px;
    height: 30%;
    z-index: 1;
    transition: all 600ms;
  }

  .ViewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3px;
  }

  .ViewMore h5 {
    font-family: "iranyekan", "BYekanPlus";
    color: #ffc655;
    font-size: 11px;
  }
  section,
  .section-padding {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 500px) {
  .mobileReverseColumn {
    flex-direction: column-reverse;
  }
  .HeaderData {
    position: relative;
    height: 100px;
  }
  .post-header-area {
    min-height: 225px;
  }
  .HDTopLeft {
    position: absolute;
    right: 5px;
    top: 6px;
    width: 50% !important;
  }
  .HDTopRight {
    position: absolute;
    left: 5px;
    top: 6px;
    width: 46% !important;
  }
  .HDBottomLeft {
    position: absolute;
    left: 5px;
    bottom: -17px;
    width: 46% !important;
  }
  .post-header-area ul li div:last-child {
    width: 46px;
  }
  .HDRightInsta {
    position: absolute;
    right: 3%;
    bottom: -17px;
  }
  .HDRightWhats {
    position: absolute;
    right: 21%;
    bottom: -17px;
  }
  .HDRightTel {
    position: absolute;
    right: 38%;
    bottom: -17px;
  }
  .post-header-area ul li:last-child div:first-child h6 {
    font-size: 10px;
  }
  .HDBottomLeft h6 {
    font-size: 10px;
  }
  .map .map-route div {
    height: 40px;
  }
  .map .map-route div:first-child {
    width: 78%;
    text-align: right;
    justify-content: flex-start;
  }

  .map .map-route div:nth-child(2) {
    width: 10%;
  }
  .map .map-route div:last-child {
    width: 10%;
  }
  .map .map-route div i {
    font-size: 12px;
  }
  .map .map-route div h5 {
    font-size: 11px;
  }
  .map .map-route div:nth-child(2) h5 {
    display: none;
  }
  .map .map-route div:nth-child(3) h5 {
    display: none;
  }
  .post-header-area ul li div {
    min-height: 46px;
  }
  .post-content-area h5 {
    font-size: 15px;
  }
  .post-content-area p {
    font-size: 12px;
  }
  .post-other-images img {
    width: 180px;
    height: 180px;
    margin: 8px 0;
    border-radius: 4px;
  }
  .post-faqs h3 {
    font-size: 22px;
  }
  .post-faqs li:nth-child(odd) {
    font-size: 15px;
  }
  .post-faqs li:nth-child(even) {
    font-size: 13px;
  }
  .post-comments-new h5 {
    font-size: 18px;
  }
  .post-comments-new .showCm .Dta .Text {
    font-size: 10px;
    padding: 5px;
    border-radius: 3px;
  }
  .post-comments-new {
    flex-direction: column-reverse;
    background-color: #fafafa;
    box-shadow: none;
    padding: 0;
  }
  .post-comments-new .sendCm {
    width: 100%;
    background-color: #f6f7ff;
    box-shadow: 0 2px 7px #00000017;
    border-radius: 3px;
    padding: 10px;
  }
  .post-comments-new .showCm {
    width: 100%;
    background-color: #f6f7ff;
    box-shadow: 0 2px 7px #00000017;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 10px;
    padding-bottom: 30px;
  }
  .showMoreCM {
    bottom: 8px;
  }
  .post-comments-new .showCm .Dta .Text .Date {
    border-radius: 3px;
  }
  .post-content-area {
    border-radius: 3px;
  }
  .map .map-route div {
    border-radius: 3px;
  }
  .post-faqs {
    border-radius: 3px;
  }
  .post-comments-new .showCm .top span {
    border-radius: 3px;
  }
  .post-comments-new .sendCm input {
    border-radius: 3px !important;
  }
  .post-comments-new .sendCm textarea {
    border-radius: 3px !important;
  }
  .post-comments-new .sendCm button {
    border-radius: 3px !important;
  }

  .ContactChildData {
    width: 47%;
    right: 52%;
    bottom: -31px;
  }
  .CCDs {
    min-height: 40px;
    font-size: 17px;
    border-radius: 3px;
  }
  .CLoseMeCCD {
    top: 17%;
    left: 48%;
    font-size: 20px !important;
  }
  .BlogItemUp img {
    border-radius: 3px;
  }
  .BlogItem {
    border-radius: 3px;
    height: 283px;
  }
  .BlogItemUp span {
    border-radius: 3px;
  }
  .SideBarBlog {
    border-radius: 6px;
    height: 120px;
  }
  .SideBarBlogLeft h3 {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 4px;
  }
  .SideBarBlogLeft div {
    padding-right: 4px;
  }
  .SideBarBlogLeft h5 {
    font-size: 11px;
  }
  .SideBarBlogLeft h6 {
    font-size: 11px;
  }
  .BlogMedias .ShortDescBl {
    font-size: 10px;
  }

  .BlogMedias .BottomBlog h5 {
    font-size: 8px;
  }
  .BlogMedias .BottomBlog h6 {
    font-size: 8px;
  }

  .BlogMedias .BottomBlog a {
    font-size: 8px;
  }

  .BlogDetail h1 {
    font-size: 18px;
    margin: 0;
    color: #353e91c9;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    text-align: center;
  }
  .BlogDetail h3 {
    font-size: 15px;
    margin: 0;
    color: #444bb7;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
  }
  .BlogDetail p {
    font-size: 11px;
    margin: 0;
    color: #1a1a1a;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    margin: 15px 0;
  }

  .customEror {
    width: 60vw;
  }

  .customEror h1 {
    font-family: cursive;
    font-size: 90px;
    color: #414998e0;
  }

  .customEror h2 {
    color: #5d5d5de0;
    font-family: "BYekanPlus";
    font-size: 13px;
    margin-bottom: -30px;
  }
}
@media only screen and (max-width: 485px) {
  .LeftSidePartsBlog {
    height: 40%;
    width: 87%;
  }

  .LeftSideAreaBlog {
    height: 340px;
  }
}
@media only screen and (max-width: 400px) {
  .LeftSidePartsBlog {
    height: 40%;
    width: 85%;
  }
  .LeftSideAreaBlog {
    height: 240px;
  }
}
.emptySlider {
  width: 100%;
  height: 497px;
  position: relative;
  top: -10px;
  padding: 0;
}
.emptyLocation {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 7px;
}

@media only screen and (max-width: 370px) {
  .map .map-route div h5 {
    font-size: 9px;
  }
  .map .map-route div i {
    font-size: 11px;
    padding: 0 2px;
  }
  .post-header-area ul li div:last-child {
    width: 37px;
  }
  .post-header-area ul li div:first-child h5 {
    font-size: 12px !important;
  }
  .post-other-images img {
    width: 150px;
    height: 150px;
  }
  .post-faqs h3 {
    font-size: 18px;
  }
  .post-faqs li:nth-child(odd) {
    font-size: 13px;
  }
  .post-faqs li:nth-child(even) {
    font-size: 10px;
  }
  .post-comments-new h5 {
    font-size: 15px;
  }
  .post-header-area .upper h4 {
    font-size: 14px;
  }
  .post-header-area .upper span {
    font-size: 13px;
  }
  .post-header-area .upper i {
    font-size: 13px;
  }
  .HeaderData {
    height: 91px;
  }
  .map iframe {
    height: 280px;
  }

  .ContactChildData {
    width: 45%;
    right: 54%;
    bottom: -36px;
  }
  .CCDs {
    min-height: 40px;
    font-size: 13px;
    border-radius: 3px;
  }
  .CLoseMeCCD {
    top: 21%;
    left: 45%;
    font-size: 18px !important;
  }
  .BlogItemUp span {
    width: 57px;
    font-size: 9px;
  }
  .BlogItemDown h3 {
    font-size: 11px;
    padding-bottom: 15px;
  }
  .BlogItemDown h5 {
    font-size: 8px;
  }
  .BlogItemDown h6 {
    font-size: 8px;
  }
  .BlogMedias .ShortDescBl {
    font-size: 9px;
  }

  .BlogMedias .BottomBlog h5 {
    font-size: 7px;
  }
  .BlogMedias .BottomBlog h6 {
    font-size: 7px;
  }
  .BlogMedias .BottomBlog a {
    font-size: 7px;
  }
  .BlogMedias .ShortDescBl span {
    width: 60px;
    font-size: 10px;
    border-radius: 5px;
    padding: 0px 5px;
    margin-top: 5px;
  }

  .customEror {
    width: 80vw;
  }

  .customEror h1 {
    font-family: cursive;
    font-size: 90px;
    color: #414998e0;
  }

  .customEror h2 {
    color: #5d5d5de0;
    font-family: "BYekanPlus";
    font-size: 13px;
    margin-bottom: -30px;
  }

  .cloudInBg:nth-child(4) {
    top: 47%;
    left: 4%;
    width: 10%;
  }
  .cloudInBg:nth-child(5) {
    top: 33%;
    right: 4%;
    width: 10%;
    transform: scalex(-1);
  }
  .LeftSidePartsBlog {
    height: 40%;
    width: 83%;
  }
}

@media only screen and (max-width: 333px) {
  .BlogMedias .ShortDescBl {
    font-size: 8px;
  }

  .BlogMedias .BottomBlog h5 {
    font-size: 7px;
  }
  .BlogMedias .BottomBlog h6 {
    font-size: 7px;
  }
  .BlogMedias .BottomBlog a {
    font-size: 7px;
  }

  .BlogDetail h1 {
    font-size: 15px;
    margin: 0;
    color: #353e91c9;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    text-align: center;
  }
  .BlogDetail h3 {
    font-size: 12px;
    margin: 0;
    color: #444bb7;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
  }
  .BlogDetail p {
    font-size: 10px;
    margin: 0;
    color: #1a1a1a;
    font-weight: 600;
    font-family: "iranyekan", "BYekanPlus";
    margin: 15px 0;
  }
  .LeftSidePartsBlog {
    height: 35%;
    width: 81%;
  }
  .LeftSideAreaBlog {
    height: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .LeftSideItemBlog:nth-child(1) {
    height: calc(100% - 25px);
  }
  .LeftSideItemBlog:nth-child(2) {
    height: calc(100% - 25px);
  }
}
